body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}


  .image_redimensionnee_logo {
      
      position: absolute;
      top:35px;
      width:auto; 
      height: 60px; 
      left: 400px;
      
  }
  .image_redimensionnee_connexion{
    position: absolute;
    width: auto;
    top:40px;
    height: 45px;
    right: 30px; 

  }
  /* En haut c'est la partie du menu à l'entrée  */
  .Link_Start_Nettoyage
  {
    color: #ffffff;
    position: absolute;
    top: auto; 
    right: 370px; 
  }
.Link_Start_Connexion{
    color: #ffffff;
    position: absolute;
    top: auto; 
    right: 150px; 
}
.Menu_Déroulant 
{
    display: flex;
    align-items: center;
    font-size: 2em;
}
.Image_Exploitable 
{
width: 50px;
height: 1px;
margin-right: 10px;
}
h1 {
    color: #ffffff;
    font-family: fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    width:  100%;
    height: 80px;
    grid-column: initial;
    background-color: rgb(0, 0, 0);
    text-align: center;
    
}

p {
    font-size: 16px;
    line-height: 1.5;
}
a {
  text-decoration: none;
}