
.grossePartieduBas {
    background-color: #ffffff;
    position: relative;
    margin-top: calc(100vh *0.75); /* Décale le contenu principal pour prendre en compte la hauteur initiale du header */
    transition: opacity 0.5s ease, margin-top 0.5s ease; /* Ajoute une transition pour le défilement fluide */
}


aside {
    width: 100%; /* Prend toute la largeur */
    background-color: #f8f8f8; /* Couleur de fond pour séparer du reste */
    padding: 20px 0; /* Ajoute de l'espace au-dessus et en dessous */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Léger ombrage pour effet de profondeur */
}

.listeServiceOffert {
    text-align: center; /* Centre tout le contenu */
}

.listeServiceOffert h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Couleur sombre pour le titre */
}

.listeServiceOffert ul {
    list-style-type: none; /* Retire les puces */
    padding: 0;
    margin: 0;
    display: flex; /* Affichage en flex pour aligner les éléments horizontalement */
    justify-content: center; /* Centre les éléments dans le conteneur */
    gap: 20px; /* Espacement entre chaque élément */
    flex-wrap: wrap; /* Permet de revenir à la ligne si trop d'éléments */
}

.listeServiceOffert ul li {
    display: inline-block;
}

.listeServiceOffert ul li a {
    display: block;
    padding: 10px 15px; /* Espacement interne des liens */
    background-color: #a50b0b; /* Couleur de fond des liens */
    color: white; /* Texte en blanc */
    text-decoration: none; /* Retire le soulignement */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Effet de transition pour le survol */
}

.listeServiceOffert ul li a:hover {
    background-color: #0056b3; /* Couleur différente au survol */
}

@media (max-width: 768px) {
    .listeServiceOffert ul {
        flex-direction: column; /* Sur les petits écrans, les éléments passent en colonne */
    }

    .listeServiceOffert ul li {
        margin-bottom: 10px;
    }
}


  a 
  {
    text-decoration: none;
  }
  
