
.grossePartieduBas {
    background-color: #ffffff;
    position: relative;
    margin-top: calc(100vh *0.75); /* Décale le contenu principal pour prendre en compte la hauteur initiale du header */
    transition: opacity 0.5s ease, margin-top 0.5s ease; /* Ajoute une transition pour le défilement fluide */
}

.listeServiceOffert
{
  width: 250px; /* Largeur du menu */
  background-color: #f4f4f4; /* Couleur de fond du menu */
  padding: 15px; /* Espacement interne du menu */
  position: fixed; /* Fixe le menu sur le côté gauche */
  top: 0; /* Positionne le menu en haut de l'écran */
  right: 0; /* Positionne le menu à gauche de l'écran */
  height: 100vh; /* Hauteur du menu pour qu'il occupe toute la hauteur de la vue */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.listeServiceOffert h2 {
  font-size: 1.5em; /* Taille de la police pour le titre */
  margin-bottom: 15px; /* Espace sous le titre */
}

.listeServiceOffert ul {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime les marges internes de la liste */
}

.listeServiceOffert ul li {
  margin-bottom: 10px; /* Espace entre les éléments de la liste */
}

.listeServiceOffert ul li a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: #333; /* Couleur du texte des liens */
  display: block; /* Assure que les liens occupent toute la largeur de l'élément de liste */
  padding: 10px; /* Espacement interne pour les liens */
  border-radius: 5px; /* Bords arrondis pour les liens */
}

.listeServiceOffert ul li a:hover {
  background-color: #ddd; /* Couleur de fond au survol du lien */
}
/* Fin de la partie du menu déroulant sur la droite de la page web  */


aside {
    flex: 1;
    margin-right: 0px;
    background-color: #9b9b9b;
  }
  a 
  {
    text-decoration: none;
  }
  aside li {
    padding-bottom: 10px;
  }

