.carte-google {
    width: 100%;               /* Largeur de 90% */
    max-width: 1000px;        /* Optionnel : Limite la largeur maximale */
    height: 500px;            /* Hauteur de la carte */
    border: 3px solid black;  /* Bordure noire */
    margin: 0 auto;           /* Centrage de la carte */
}

/*Obselète pour l'instant */