/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ff4b4b;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #ff4b4b;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.step {
    background-color: #969696;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ff4b4b;
    text-align: center;
}

.step.luxe {
    background-color: #333;
    color: white;
    border: 1px solid #000;
}

/* Form styles */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #e63939;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

