/* styles.css */

/* Style pour le tableau */
table {
    width: 96%; /* Prend 96% de la largeur de la page */
    margin: 0 auto; /* Centre le tableau en appliquant une marge automatique */
    border-collapse: collapse; /* Enlève l'espace entre les bordures des cellules */
}

/* Suppression des bordures */
th, td {
    border: none; /* Pas de bordure pour les cellules */
    padding: 8px; /* Espacement interne dans les cellules */
    text-align: center; /* Centre le texte dans les cellules */
}

/* Style pour les cellules disponibles */
.available {
    background-color: #d4edda; /* Couleur de fond verte pour les créneaux disponibles */
}

/* Effet au survol des lignes */
tbody tr:hover td {
    background-color: #f0f0f0; /* Change la couleur de fond lorsqu'on survole la ligne */
}
