body 
{
    background-color: #ffffff;
    z-index: 999;
  }




.a-propos {
  max-width: 800px; /* Limite la largeur du contenu principal pour une meilleure lisibilité */
  margin: 7%; /* Centre le contenu principal */
}

.a-propos h2 {
  font-size: 2em; /* Taille de la police pour le titre */
  margin-bottom: 20px; /* Espace sous le titre */
  left: 50%;
}

.a-propos p {
  line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
  margin-bottom: 15px; /* Espace entre les paragraphes */
}

.schedule {
  max-width: 800px;
  margin: 0 auto;
}



